
body {
  margin: 0;
  background: whitesmoke;
}
/* @media (max-width: 375px) {
  body{
    background: white;
  }} */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}


